<p>allconcept works!</p>

 <ul>
    <li>
     <h5 style="color:blue">SignUp Employee Component Implemented in New Module Name Employee Module</h5>
        <app-signup-employee></app-signup-employee>
    </li>
    <li>
        <h5 style="color: red;">Number To Words Pipe Concept Used ..Textbox pass number below see In Words</h5>
        <input type="text" [(ngModel)]="myValue">
        <br/>
         <br/>
        <p>Number in words: {{ myValue | numbersToWordsPipe }}</p>
    </li>

    <li>
        <h5 style="color:red">Directieve: Color changing due to directieve applied on this </h5>
        <div appMyCustomdirective>
            This text will have a yellow background.
          </div>
    </li>
    <li>
        <h5 style="color: red;">Directieve for Hostlistner implemented</h5>
        <div appDirectieveforhostlistner >Click me Hostlistner will call method in Directieve!</div>
    </li>
    <li>
        <h5>HostBinding Implemented: </h5>
        <app-custom-button-component-for-host-binding>ggggg</app-custom-button-component-for-host-binding>
    </li>
    <li>
        <h5>Life Cycle Hook for check ngOnchanges:</h5>
        <p>Parent Component</p>
        <input type="text" [(ngModel)]="txtInput">
        <app-lifecyclehook [messageFromParent]="txtInput"></app-lifecyclehook>
    </li>

    <li>
        <h5>ng class used</h5>
        <app-ng-class-implement></app-ng-class-implement>
    </li>
 </ul>
