<div class="row">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h4>Sign Up</h4>
      </div>

      <div class="card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">

          <div class="form-group form-row">
            <label for="firstName" class="col-md-4 col-form-label">Student Name:</label>
            <div class="col-md-8">
              <input type="text" name="StudentName" id="StudentName" placeholder="Student Name" class="form-control"
                formControlName="StudentName">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="firstName" class="col-md-4 col-form-label">Password:</label>
            <div class="col-md-8">
              <input type="text" name="Password" id="Password" placeholder="Password" class="form-control"
                formControlName="Password">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="email" class="col-md-4 col-form-label">Email:</label>
            <div class="col-md-8">
              <input type="text" name="Email" id="Email" placeholder="Email" class="form-control"
                formControlName="Email">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="dateOfBirth" class="col-md-4 col-form-label">Date of Birth:</label>
            <div class="col-md-8">
              <input type="date"  name="DateOfBirth" id="DateOfBirth" placeholder="Date of Birth" class="form-control"
                formControlName="DateOfBirth">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="mobile" class="col-md-4 col-form-label">PIN:</label>
            <div class="col-md-8">
              <input type="number" name="pin" id="Pin" placeholder="Mobile" class="form-control" formControlName="Pin">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="mobile" class="col-md-4 col-form-label">Address:</label>
            <div class="col-md-8">
              <input type="text" name="Address" id="Address" placeholder="Address" class="form-control"
                formControlName="Address">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-4 col-form-label">Gender:</label>
            <div class="col-md-8">

              <div class="form-check-label form-check-inline">
                <input type="radio" name="Gender" id="male" value="M" class="form-check-input"
                  formControlName="Gender">
                <label for="male" class="form-check-label">Male</label>
              </div>

              <div class="form-check-label form-check-inline">
                <input type="radio" name="Gender" id="female" value="F" class="form-check-input"
                  formControlName="Gender">
                <label for="female" class="form-check-label">Female</label>
              </div>

            </div>
          </div>
          <table>
            <tr>
              <td><button type="submit">Submit</button></td>
            </tr>     
          </table>
        </form>
        {{signUpForm.value | json}}
      </div>
    </div>
  </div>
</div>
<h1>GGGG GGGG GG</h1>
<h2>keep some changes</h2>