<div class="container">
    <form [formGroup]="displayForm" (ngSubmit)="update()">
        {{stdName}}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Dob</th>
                <th>Pin</th>
                <th>Gender</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let user of studentList">
                <td>
                    {{user.id}}
                </td>
                <td>
                    <div *ngIf="user.isEdit">
                        <input type="text" id="StudentName" formControlName="studentName">

                    </div>
                    <div *ngIf="!user.isEdit">
                        {{ user.studentName }}
                    </div>
                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <input type="text" id="Address" class="form-control" formControlName="address">
                    </div>

                    <div *ngIf="!user.isEdit">
                        {{ user.address }}
                    </div>

                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <input type="text" id="Email" class="form-control" formControlName="email">
                    </div>
                    <div *ngIf="!user.isEdit">
                        {{ user.email }}
                    </div>

                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <input type="date" id="DateOfBirth" class="form-control"
                            formControlName="dateOfBirth">
                    </div>
                    <div *ngIf="!user.isEdit">
                        {{ user.dateOfBirth }}
                    </div>

                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <input type="number" name="pin" id="Pin" class="form-control"
                            formControlName="pin">
                    </div>
                    <div *ngIf="!user.isEdit">
                        {{ user.pin }}
                    </div>

                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <div class="form-check-label form-check-inline">
                            <input type="radio" name="gender" id="male"
                             value="M" class="form-check-input"
                           
                              formControlName="gender">
                            <label for="male" class="form-check-label">Male</label>
                          </div>
            
                          <div class="form-check-label form-check-inline">
                            <input type="radio" name="gender" id="female"
                             value="F"
                             class="form-check-input"
                            formControlName="gender">
                            <label for="female" class="form-check-label">Female</label>
                          </div>
                    </div>
                    <div *ngIf="!user.isEdit">
                        {{ user.gender }}
                    </div> 

                </td>

                <td>
                    <div *ngIf="user.isEdit">
                        <button type="submit">Update</button>
                        <button (click)="user.isEdit=false">Cancel</button>
                    </div>
                    <div *ngIf="!user.isEdit">
                        <button type="button" (click)="onEdit(user)">Edit</button>
                    </div>
                </td>

                <td>
                    <button type="button" (click)="deleteStudent(user.id)">Delete</button>
                </td>

            </tr>
        </table>

        <div>
           <table>
            <tr>
                <td>See Use of ng-template:</td>
                <td>
                    <p *ngIf="captureGenderselectedvalue =='M'; else genderselection">
                        Male Selected...............                   
                    </p>
                      <ng-template #genderselection >
                        <p>Female selected .............
                       
                        </p>
                      </ng-template>
                </td>
            </tr>
           </table>
        </div>
    </form>
</div>
<!-- {{this.studentList | json}} -->